scripts/envoy_config.pyc
scripts/__pycache__/envoy_config.cpython-37.pyc
__pycache__/
*.pyc
scripts/quantra.yaml
build/*
build_local/*
flatbuffers/html/*
flatbuffers/latex/*
flatbuffers/build/*
.vscode/*
.quantra/
.venv/*
core
tmp/*
.venv/
logs/

# Python build/cache artifacts
*.egg-info/
