openapi: 3.0.0
info:
  description: "API definition for quantra.io. [More information here](https://quantra.io/)."
  version: "1.0.0"
  title: "quantra.io"
  termsOfService: "https://quantra.io"
  contact:
    email: "hello@quantra.io"
  license:
    name: "Apache 2.0"
    url: "http://www.apache.org/licenses/LICENSE-2.0.html"
servers:
  - url: https://api.quantra.io
tags:
- name: "Enum"
  description: "QuantLib enumeration values requests"
paths:
  /getCalendars:
    post:
      tags:
      - "Enum"
      summary: "Get a list of calendars"
      responses:
        '200':
          description: OK
          content:
            text/json:
              schema:
                $ref: '#/components/schemas/GetCalendarResponse'
  /getFrequencys:
    post:
      tags:
      - "Enum"
      summary: "Get a list of frequencies"
      responses:
        '200':
          description: OK
          content:
            text/json:
              schema:
                $ref: '#/components/schemas/GetFrequencysResponse'
  /getTimeUnits:
    post:
      tags:
      - "Enum"
      summary: "Get a list of time units"
      responses:
        '200':
          description: OK
          content:
            text/json:
              schema:
                $ref: '#/components/schemas/GetTimeUnitsResponse'
  /getBusinessDayConventions:
    post:
      tags:
      - "Enum"
      summary: "Get a list of day conventions"
      responses:
        '200':
          description: OK
          content:
            text/json:
              schema:
                $ref: '#/components/schemas/GetBusinessDayConventionsResponse'
  /getDayCounters:
    post:
      tags:
      - "Enum"
      summary: "Get a list of day counters"
      responses:
        '200':
          description: OK
          content:
            text/json:
              schema:
                $ref: '#/components/schemas/GetDayCountersResponse'
  /getPointTypes:
    post:
      tags:
      - "Enum"
      summary: "Get a list of curve point types"
      responses:
        '200':
          description: OK
          content:
            text/json:
              schema:
                $ref: '#/components/schemas/GetPointTypesResponse'
  /getBootstrapTraits:
    post:
      tags:
      - "Enum"
      summary: "Get a list of bootstrap trait types"
      responses:
        '200':
          description: OK
          content:
            text/json:
              schema:
                $ref: '#/components/schemas/GetBootstrapTraitsResponse'
  /getIbors:
    post:
      tags:
      - "Enum"
      summary: "Get a list of ibor indexes"
      responses:
        '200':
          description: OK
          content:
            text/json:
              schema:
                $ref: '#/components/schemas/GetIborsResponse'
  /getOvernightIndex:
    post:
      tags:
      - "Enum"
      summary: "Get a list of overnight indexes"
      responses:
        '200':
          description: OK
          content:
            text/json:
              schema:
                $ref: '#/components/schemas/GetOvernightIndexResponse'
  /getCompoundings:
    post:
      tags:
      - "Enum"
      summary: "Get a list of possible compoundings"
      responses:
        '200':
          description: OK
          content:
            text/json:
              schema:
                $ref: '#/components/schemas/GetCompoundingsResponse'
  /getInterpolators:
    post:
      tags:
      - "Enum"
      summary: "Get a list of possible interpolations"
      responses:
        '200':
          description: OK
          content:
            text/json:
              schema:
                $ref: '#/components/schemas/GetInterpolatorsResponse'
  /getSwapTypes:
    post:
      tags:
      - "Enum"
      summary: "Get a list of possible IRS types"
      responses:
        '200':
          description: OK
          content:
            text/json:
              schema:
                $ref: '#/components/schemas/GetSwapTypesResponse'
  /getDateGenerationRules:
    post:
      tags:
      - "Enum"
      summary: "Get a list of possible date generation rules"
      responses:
        '200':
          description: OK
          content:
            text/json:
              schema:
                $ref: '#/components/schemas/GetDateGenerationRulesResponse'
  /getWeekDays:
    post:
      tags:
      - "Enum"
      summary: "Get a list of possible week days"
      responses:
        '200':
          description: OK
          content:
            text/json:
              schema:
                $ref: '#/components/schemas/GetWeekDaysResponse'
  /getMonths:
    post:
      tags:
      - "Enum"
      summary: "Get a list of possible months"
      responses:
        '200':
          description: OK
          content:
            text/json:
              schema:
                $ref: '#/components/schemas/GetMonthsResponse'
  /bootstrapNodes:
    post:
      tags:
      - "Curves"
      summary: "Endpoint to get the nodes which will be used to interpolate."
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BootstrapNodesRequest'
      responses:
        '200':
          description: OK
          content:
            text/json:
              schema:
                $ref: '#/components/schemas/BootstrapNodesResponse'
  /discountCurve:
    post:
      tags:
      - "Curves"
      summary: "Endpoint to generate discount curve points."
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DiscountCurveRequest'
      responses:
        '200':
          description: OK
          content:
            text/json:
              schema:
                $ref: '#/components/schemas/DiscountCurveResponse'
  /fwdRateCurve:
    post:
      tags:
      - "Curves"
      summary: "Endpoint to generate fwd rate curve points. If a tenor is provided to the FwdCurve it will return the entire curve, if a start and end dates are provided it will return the forward rate of that period"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FwdCurveRequest'
      responses:
        '200':
          description: OK
          content:
            text/json:
              schema:
                $ref: '#/components/schemas/FwdCurveResponse'
  /zeroRateCurve:
    post:
      tags:
      - "Curves"
      summary: "Endpoint to generate zero rate curve points"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ZeroCurveRequest'
      responses:
        '200':
          description: OK
          content:
            text/json:
              schema:
                $ref: '#/components/schemas/ZeroCurveResponse'
  /isLeap:
    post:
      tags:
      - "Dates and Calendars"
      summary: "Request to know if is leap year"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IsLeapYearRequest'
      responses:
        '200':
          description: OK
          content:
            text/json:
              schema:
                $ref: '#/components/schemas/IsLeapYearReponse'
  /endOfMonth:
    post:
      tags:
      - "Dates and Calendars"
      summary: "Return the last day for them month of provided date."
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EndOfMonthRequest'
      responses:
        '200':
          description: OK
          content:
            text/json:
              schema:
                $ref: '#/components/schemas/EndOfMonthResponse'
  /nextWeekDay:
    post:
      tags:
      - "Dates and Calendars"
      summary: "Return the next Weekday since the provided Date"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NextWeekDayRequest'
      responses:
        '200':
          description: OK
          content:
            text/json:
              schema:
                $ref: '#/components/schemas/NextWeekDayResponse'
  /nthWeekDay:
    post:
      tags:
      - "Dates and Calendars"
      summary: "Return the next Weekday since the provided Date"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NthWeekDayRequest'
      responses:
        '200':
          description: OK
          content:
            text/json:
              schema:
                $ref: '#/components/schemas/NthWeekDayResponse'
  /isBusinessDay:
    post:
      tags:
      - "Dates and Calendars"
      summary: "Return if the day is business day in the provided calendar"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IsBusinessDayRequest'
      responses:
        '200':
          description: OK
          content:
            text/json:
              schema:
                $ref: '#/components/schemas/IsBusinessDayResponse'
  /isHoliday:
    post:
      tags:
      - "Dates and Calendars"
      summary: "Return if the day holiday in the provided calendar"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IsHolidayRequest'
      responses:
        '200':
          description: OK
          content:
            text/json:
              schema:
                $ref: '#/components/schemas/IsHolidayResponse'
  /holidayList:
    post:
      tags:
      - "Dates and Calendars"
      summary: "List of holiday dates inbetween given dates and given calendar"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/HolidayListRequest'
      responses:
        '200':
          description: OK
          content:
            text/json:
              schema:
                $ref: '#/components/schemas/HolidayListResponse'
  /adjustDate:
    post:
      tags:
      - "Dates and Calendars"
      summary: "Adjusted date in accordance to given calendar and day convention"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdjustDateRequest'
      responses:
        '200':
          description: OK
          content:
            text/json:
              schema:
                $ref: '#/components/schemas/AdjustDateResponse'
  /advanceDate:
    post:
      tags:
      - "Dates and Calendars"
      summary: "Advance date for given calendar and time and adjusted to given convention"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdvanceDateRequest'
      responses:
        '200':
          description: OK
          content:
            text/json:
              schema:
                $ref: '#/components/schemas/AdvanceDateResponse'
  /businessDaysBetween:
    post:
      tags:
      - "Dates and Calendars"
      summary: "Business days between from and to given dates."
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BusinessDaysBetweenRequest'
      responses:
        '200':
          description: OK
          content:
            text/json:
              schema:
                $ref: '#/components/schemas/BusinessDaysBetweenResponse'
  /isIMMDate:
    post:
      tags:
      - "Dates and Calendars"
      summary: "Returns if given date is a valid IMM date."
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IsIMMDateRequest'
      responses:
        '200':
          description: OK
          content:
            text/json:
              schema:
                $ref: '#/components/schemas/IsIMMDateResponse'
  /nextIMMDate:
    post:
      tags:
      - "Dates and Calendars"
      summary: "Returns next valid IMM date since given date."
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NextIMMDateRequest'
      responses:
        '200':
          description: OK
          content:
            text/json:
              schema:
                $ref: '#/components/schemas/NextIMMDateResponse'
  /yearFraction:
    post:
      tags:
      - "Dates and Calendars"
      summary: "Returns the year fraction acording to provided day counter."
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/YearFractionRequest'
      responses:
        '200':
          description: OK
          content:
            text/json:
              schema:
                $ref: '#/components/schemas/YearFractionResponse'
  /scheduleDates:
    post:
      tags:
      - "Dates and Calendars"
      summary: "Return a list of dates from schedule."
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ScheduleDatesRequest'
      responses:
        '200':
          description: OK
          content:
            text/json:
              schema:
                $ref: '#/components/schemas/ScheduleDatesResponse'
  /priceFixedRateBond:
    post:
      tags:
      - "Bond pricing"
      summary: "Endpoint to price fixed rate coupon bond"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PriceFixedRateBondRequest'
      responses:
        '200':
          description: OK
          content:
            text/json:
              schema:
                $ref: '#/components/schemas/PriceFixedRateBondResponse'
  /priceFloatingRateBond:
    post:
      tags:
      - "Bond pricing"
      summary: "Endpoint to price floating rate coupon bond"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PriceFloatingRateBondRequest'
      responses:
        '200':
          description: OK
          content:
            text/json:
              schema:
                $ref: '#/components/schemas/PriceFloatingRateBondResponse'
  /priceZeroCouponBond:
    post:
      tags:
      - "Bond pricing"
      summary: "Endpoint to price a zero coupon bond"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PriceZeroCouponBondRequest'
      responses:
        '200':
          description: OK
          content:
            text/json:
              schema:
                $ref: '#/components/schemas/PriceZeroCouponBondResponse'
  /priceVanillaSwap:
    post:
      tags:
      - "Interest Rate pricing"
      summary: "Endpoint to price a vanilal interest rate swap"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VanillaSwapRequest'
      responses:
        '200':
          description: OK
          content:
            text/json:
              schema:
                $ref: '#/components/schemas/VanillaSwapResponse'
  /volatilitySurface:
    post:
      tags:
      - "Options and volatility"
      summary: "Endpoint to generate a volatility surface"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VolatilitySurfaceRequest'
      responses:
        '200':
          description: OK
          content:
            text/json:
              schema:
                $ref: '#/components/schemas/VolatilitySurfaceResponse'
  /optionPricing:
    post:
      tags:
      - "Options and volatility"
      summary: "Endpoint to calculate the price and sensitivities for a single option"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PricingOptionRequest'
      responses:
        '200':
          description: OK
          content:
            text/json:
              schema:
                $ref: '#/components/schemas/PricingOptionResponse'
  /multilOptionPricing:
    post:
      tags:
      - "Options and volatility"
      summary: "Endpoint to calculate the price and sensitivities for multiple options and same term structures"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PricingMultiOptionRequest'
      responses:
        '200':
          description: OK
          content:
            text/json:
              schema:
                $ref: '#/components/schemas/PricingOptionResponse'
                
components:
  schemas:
    OkStatusCode:
      type: string
      enum: &OKSTATUSCODE
        - 'ok'
    TimeUnit:
      type: string
      enum: &TIMEUNIT
        - Days
        - Hours
        - Microseconds
        - Milliseconds
        - Minutes
        - Months
        - Seconds
        - Weeks
        - Years
    Calendar:
      type: string
      enum: &CALENDAR
        - Argentina
        - Australia
        - BespokeCalendar
        - Brazil
        - Canada
        - China
        - CzechRepublic
        - Denmark
        - Finland
        - Germany
        - HongKong
        - Hungary
        - Iceland
        - India
        - Indonesia
        - Israel
        - Italy
        - Japan
        - Mexico
        - NewZealand
        - Norway
        - NullCalendar
        - Poland
        - Romania
        - Russia
        - SaudiArabia
        - Singapore
        - Slovakia
        - SouthAfrica
        - SouthKorea
        - Sweden
        - Switzerland
        - TARGET
        - Taiwan
        - Turkey
        - Ukraine
        - UnitedKingdom
        - UnitedStates
        - UnitedStatesGovernmentBond
        - UnitedStatesNERC
        - UnitedStatesNYSE
        - UnitedStatesSettlement
        - WeekendsOnl
    DayCounter:
      type: string
      enum: &DAYCOUNTER
        - Actual360
        - Actual365Fixed
        - Actual365NoLeap
        - ActualActual
        - Business252
        - One
        - Simple
        - Thirty360
    Ibor:
      type: string
      enum: &IBOR
        - Euribor10M
        - Euribor11M
        - Euribor1M
        - Euribor1Y
        - Euribor2M
        - Euribor2W
        - Euribor365_10M
        - Euribor365_11M
        - Euribor365_1M
        - Euribor365_1Y
        - Euribor365_2M
        - Euribor365_2W
        - Euribor365_3M
        - Euribor365_3W
        - Euribor365_4M
        - Euribor365_5M
        - Euribor365_6M
        - Euribor365_7M
        - Euribor365_8M
        - Euribor365_9M
        - Euribor365_SW
        - Euribor3M
        - Euribor3W
        - Euribor4M
        - Euribor5M
        - Euribor6M
        - Euribor7M
        - Euribor8M
        - Euribor9M
        - EuriborSW
    PointTypes:
      type: string
      enum: &POINTTYPES
        - Bond
        - DatedOIS
        - Deposit
        - Fra
        - Future
        - OIS
        - Swap
    SwapTypes:
      type: string
      enum: &SWAPTYPES
        - Payer
        - Receiver
    Compounding:
      type: string
      enum: &COMPOUNDING
        - Compounded
        - Continuous
        - Simple
        - SimpleThenCompounded
    Frequency:
      type: string
      enum: &FREQUENCY
        - Annual
        - Bimonthly
        - Biweekly
        - Daily
        - EveryFourthMonth
        - EveryFourthWeek
        - Monthly
        - NoFrequency
        - Once
        - OtherFrequency
        - Quarterly
        - Semiannual
        - Weekly
    Convention:
      type: string
      enum: &CONVENTION
        - Following
        - HalfMonthModifiedFollowing
        - ModifiedFollowing
        - ModifiedPreceding
        - Nearest
        - Preceding
        - Unadjusted
    OvernightIndex:
      type: string
      enum: &OVERNIGHTINDEX
        - Eonia
        - Sonia
    DateGenerationRule:
      type: string
      enum: &DATEGENERATIONRULE
        - Backward
        - CDS
        - Forward
        - OldCDS
        - ThirdWednesday
        - Twentieth
        - TwentiethIMM
        - Zero
    Interpolator:
      type: string
      enum: &INTERPOLATOR
        - BackwardFlat
        - ForwardFlat
        - Linear
        - LogCubic
        - LogLinear
    BootstrapTrait:
      type: string
      enum: &BOOTSTRAPTRAIT
        - Discount
        - FwdRate
        - InterpolatedDiscount
        - InterpolatedFwd
        - InterpolatedZero
        - ZeroRate
    WeekDay:
      type: string
      enum: &WEEKDAY
        - Monday
        - Tuesday
        - Wednesday
        - Thursday
        - Friday
        - Saturday
        - Sunday
    Month:
      type: string
      enum: &MONTH
        - January
        - February
        - March
        - April
        - May
        - June
        - July
        - August
        - September
        - October
        - November
        - December
    ZeroSpreadType:
      type: string
      enum: &ZEROSPREADTYPE
        - Parallel
        - LinearInterpolated
    VolType:
      type: string
      enum: &VOLTYPE
        - BlackConstantVol
        - BlackVarianceSurface
    OptionType:
      type: string
      enum: &OPTIONTYPE
        - Put
        - Call
    OptionStyle:
      type: string
      enum: &OPTIONSTYLE
        - European
    Schedule:
      type: object
      properties:
        Calendar:
          $ref: '#/components/schemas/Calendar'
        EffectiveDate:
          type: string
          format: date
        TerminationDate:
          type: string
          format: date
        Frequency:
          $ref: '#/components/schemas/Frequency'
        Convention:
          $ref: '#/components/schemas/Convention'
        TerminationDateConvention:
          $ref: '#/components/schemas/Convention'
        DateGenerationRule:
          $ref: '#/components/schemas/DateGenerationRule'
        EndOfMonth:
          type: boolean
    FixedLeg:
      type: object
      description: 'Structure to create a fixed leg for an Interest Rate Swap.'
      properties:
        DayCounter:
          allOf:
            - $ref: '#/components/schemas/DayCounter'
          description: 'Accrual day counter'
        Rate:
          type: number
          format: float
          description: 'Fixed leg rate'
        Schedule:
          allOf:
            - $ref: '#/components/schemas/Schedule'
          description: 'Fixed leg payment schedule parametrization. Calendar, EffectiveDate and TerminationDate for leg Schedule can be overwritten if parent Swap has Calendar, EffectiveDate and LengthInYears defined.'
    Yield:
      type: object
      description: 'structure to create yield parametrization'
      properties:
        DayCounter:
          allOf:
            - $ref: '#/components/schemas/DayCounter'
          description: 'Yield calculation day counter'
        Compounding:
          allOf:
            - $ref: '#/components/schemas/Compounding'
          description: 'Yield calculation compounding'
        Frequency:
          allOf:
            - $ref: '#/components/schemas/Frequency'
          description: 'Yield calculation frequency'
    Index:
      type: object
      description: 'structure to create an Index. When needed for accrued calculations, past fixings will be added under Index structure'
      properties:
        SettlementDays:
          type: integer
          description: 'Index settlement days'
        Calendar:
          allOf:
            - $ref: '#/components/schemas/Calendar'
          description: 'Index calendar'
        Convention:
          allOf:
          - $ref: '#/components/schemas/Convention'
          description: 'Index convention'
        EndOfMonth:
          type: boolean
          description: 'Adjust to end of month rule applied to the index'
        DayCounter:
          allOf:
            - $ref: '#/components/schemas/DayCounter'
          description: 'Index day counter'
        Fixings:
          description: 'Optional. Array of fixings for past flows.'
          type: array
          items:
            $ref: '#/components/schemas/DateRate'
    DateRate:
      type: object
      description: 'Fixing object. Rate and date'
      properties:
        Date:
          type: string
          format: date
        Rate:
          type: number
          format: float
    FloatingLeg:
      type: object
      description: 'Structure to create a fixed leg for an Interest Rate Swap'
      properties:
        Spread:
          type: number
          format: float
          description: 'Interest rate spread'
        DayCounter:
          allOf:
            - $ref: '#/components/schemas/DayCounter'
          description: 'Accrual day counter'
        Index:
          allOf:
            - $ref: '#/components/schemas/Index'
          description: 'Index parametrization'
        Schedule:
          allOf:
            - $ref: '#/components/schemas/Schedule'
          description: 'Floating leg payment schedule parametrization. Calendar, EffectiveDate and TerminationDate for leg Schedule can be overwritten if parent Swap has Calendar, EffectiveDate and LengthInYears defined.'
    FixedRateBond:
      type: object
      description: 'Structure to create fixed rate bonds.'
      properties:
        SettlementDays:
          type: integer
          description: 'Index settlement days'
        FaceAmount:
          type: number
          format: float
          description: 'Bond face amount'
        Rate:
          type: number
          format: float
          description: 'Bond rate'
        DayCounter:
          allOf:
            - $ref: '#/components/schemas/DayCounter'
          description: 'Accrual day counter'
        Convention:
          allOf:
          - $ref: '#/components/schemas/Convention'
          description: 'Payment convention'
        Redemption:
          type: number
          format: float
          description: 'Redemption price'
        IssueDate:
          type: string
          format: date
          description: 'Bond issue date'
        Schedule:
          allOf:
            - $ref: '#/components/schemas/Schedule'
          description: 'Payment schedule'
        Yield:
          allOf:
            - $ref: '#/components/schemas/Yield'
          description: 'Yield parametrization'
    FloatingRateBond:
      type: object
      description: 'Structure to create floating rate bonds.'
      properties:
        SettlementDays:
          type: integer
          description: 'Index settlement days'
        FaceAmount:
          type: number
          format: float
          description: 'Bond face amount'
        Spread:
          type: number
          format: float
          description: 'Bond rate'
        DayCounter:
          allOf:
            - $ref: '#/components/schemas/DayCounter'
          description: 'Accrual day counter'
        Convention:
          allOf:
          - $ref: '#/components/schemas/Convention'
          description: 'Payment convention'
        Redemption:
          type: number
          format: float
          description: 'Redemption price'
        IssueDate:
          type: string
          format: date
          description: 'Bond issue date'
        Frequency:
          allOf:
            - $ref: '#/components/schemas/Frequency'
          description: 'Payment frquency'
        Index:
          allOf:
            - $ref: '#/components/schemas/Index'
          description: 'Index parametrization'
        Schedule:
          allOf:
            - $ref: '#/components/schemas/Schedule'
          description: 'Payment Schedule'
        Yield:
          allOf:
            - $ref: '#/components/schemas/Yield'
          description: 'Yield parametrization'
      example:
        FixingDays: 2
        SettlementDays: 2
        FaceAmount: 1000000
        Spread: 0
        DayCounter: ActualActualBond
        Convention: ModifiedFollowing
        Redemption: 90
        IssueDate: "2010/02/17"
        Frequency: Semiannual
        Index: 
         SettlementDays: 0
         Calendar: Australia
         Convention: HalfMonthModifiedFollowing
         EndOfMonth: true
         DayCounter: ActualActualBond
        Schedule: 
         Calendar: UnitedStatesGovernmentBond
         EffectiveDate: "2010/02/17"
         TerminationDate: "2017/05/17"
         Frequency: Semiannual
         Convention: ModifiedFollowing
         TerminationDateConvention: ModifiedFollowing
         DateGenerationRule: Backward
         EndOfMonth: false
        Yield: 
         DayCounter: Actual360
         Compounding: Compounded
         Frequency: Annual
    ZeroCouponBond:
      type: object
      description: 'Structure to create floating rate bonds.'
      properties:
        IssueDate:
          type: string
          format: date
          description: 'Bond issue date'
        MaturityDate:
          type: string
          format: date
          description: 'Bond issue date'
        SettlementDays:
          type: integer
          description: 'Index settlement days'
        FaceAmount:
          type: number
          format: float
          description: 'Bond face amount'
        Redemption:
          type: number
          format: float
          description: 'Redemption price'
        Calendar:
          allOf:
            - $ref: '#/components/schemas/Calendar'
          description: 'Bond Calendar'
        Convention:
          allOf:
          - $ref: '#/components/schemas/Convention'
          description: 'Payment convention'
        Yield:
          allOf:
            - $ref: '#/components/schemas/Yield'
          description: 'Yield parametrization'
      example:
        MaturityDate: "2013/08/15"
        IssueDate: "2003/08/15"
        SettlementDays: 2
        FaceAmount: 10000
        Redemption: 100
        Calendar: UnitedStates
        PaymentConvention: Following
        Yield: 
          DayCounter: Actual360
          Compounding: Compounded
          Frequency: Annual
    VanillaInterestRateSwap:
      type: object
      description: 'Structure to create an interest rate swap.'
      properties:
        DiscountingTermStructure:
          type: string
          description: 'Id of the curve from the curves list used to discount'
        ForecastingTermStructure:
          type: string
          description: 'Id of the curve from the curves list used to forecast'
        Notional:
          type: number
          format: float
        SwapType:
          oneOf:
            - $ref: '#/components/schemas/SwapTypes'
          description: 'Swap type. Payer/Receiver'
        Calendar:
          allOf:
            - $ref: '#/components/schemas/Calendar'
          description: 'Optional. Swap Calendar'
        EffectiveDate:
          type: string
          format: date
          description: 'Optional. Date when swap starts. It must be a valid business date for provided calendar'
        LenghtInYears:
          type: integer
          description: 'Optional. Swap length in years'
        FixedLeg:
          allOf:
            - $ref: '#/components/schemas/FixedLeg'
          description: 'Swap fixed leg'
        FloatingLeg:
          allOf:
            - $ref: '#/components/schemas/FloatingLeg'
          description: 'Swap floating leg'

      example:
        MaturityDate: "2013/08/15"
        IssueDate: "2003/08/15"
        SettlementDays: 2
        FaceAmount: 10000
        Redemption: 100
        Calendar: UnitedStates
        PaymentConvention: Following
        Yield: 
          DayCounter: Actual360
          Compounding: Compounded
          Frequency: Annual
    Deposit:
      type: object
      description: 'Deposit curve point'
      properties:
        Rate:
          type: number
          format: float
        TenorTimeUnit:
          allOf:
            - $ref: '#/components/schemas/TimeUnit'
          description: 'Time unit to be used along with TenorNumber to calculate deposit tenor (tenor = TimeUnit * TenorNumber)'
        TenorNumber:
          type: integer
          description: 'Tenor number to be used along with TimeUnit to calculate deposit tenor (tenor = TimeUnit * TenorNumber)'
        FixingDays:
          type: integer
          description: 'Rate fixing days'
        Calendar:
          allOf:
            - $ref: '#/components/schemas/Calendar'
          description: 'Deposit schedule calendar'
        BusinessDayConvention:
          allOf:
            - $ref: '#/components/schemas/Convention'
          description: 'Business day convention used for deposit schedule'
        DayCounter:
          allOf:
            - $ref: '#/components/schemas/DayCounter'
          description: 'Day counter base used to discount'
      example:
        type: 'Deposit'
        Rate: 0.0382
        Calendar: 'TARGET'
        FixingDays: 2
        TenorTimeUnit: 'Weeks'
        TenorNumber: 1
        BusinessDayConvention: 'ModifiedFollowing'
        DayCounter: 'Actual360'
    FRA:
      type: object
      description: 'FRA curve point'
      properties:
        Rate:
          type: number
          format: float
        MonthsToStart:  
          type: integer
          description: 'Months to start FRA'
        MonthsToEnd:  
          type: integer
          description: 'Months to end FRA'       
        FixingDays:
          type: integer
          description: 'Rate fixing days'
        Calendar:
          allOf:
            - $ref: '#/components/schemas/Calendar'
          description: 'FRA calendar'
        BusinessDayConvention:
          allOf:
            - $ref: '#/components/schemas/Convention'
          description: 'Business day convention used for deposit schedule'
        DayCounter:
          allOf:
            - $ref: '#/components/schemas/DayCounter'
          description: 'Day counter base used to discount'
    Future:
      type: object
      description: 'Future curve point'
      properties:
        Rate:
          type: number
          format: float
        FutureStartDate:  
          type: string
          format: date
          description: 'Future start date. I has to be a valid IMM date. Check IMM dates'
        FutureMonths:  
          type: integer
          description: 'Future duration in months'
        Calendar:
          allOf:
            - $ref: '#/components/schemas/Calendar'
          description: 'Future calendar' 
        BusinessDayConvention:
          allOf:
            - $ref: '#/components/schemas/Convention'
          description: 'Business day convention used for future schedule'
        DayCounter:
          allOf:
            - $ref: '#/components/schemas/DayCounter'
          description: 'Day counter base used to discount'
    Swap:
      type: object
      description: 'Swap curve point'
      properties:
        Rate:
          type: number
          format: float
        TenorTimeUnit:
          allOf:
            - $ref: '#/components/schemas/TimeUnit'
          description: 'Time unit to be used along with TenorNumber to calculate deposit tenor (tenor = TimeUnit * TenorNumber)'
        TenorNumber:
          type: integer
          description: 'Tenor number to be used along with TimeUnit to calculate deposit tenor (tenor = TimeUnit * TenorNumber)'
        SwFixedLegFrequency:
          allOf:
            - $ref: '#/components/schemas/Frequency'
          description: 'Fixed leg frequency.'
        SwFixedLegConvention:
          allOf:
            - $ref: '#/components/schemas/Convention'
          description: 'Business day convention used for swap fixed leg schedule.'
        SwFixedLegDayCounter:
          allOf:
            - $ref: '#/components/schemas/DayCounter'
          description: 'Day counter for swap fixed leg.'
        SwFloatingIndex:
          allOf:
            - $ref: '#/components/schemas/Index'
          description: 'Index used for floating leg schedule. Frequency, day convention and day counter will be derived from it.'
        #TODO replace by the therm structure when finished
        DiscountingTermStructure:
          allOf:
            - $ref: '#/components/schemas/Index'
          description: 'Optional. Exogeneous discounting term structure.'
    Bond:
      type: object
      description: 'Fixed bond curve point'
      properties:
        Rate:
          type: number
          format: float
          description: 'Bond price'
        FixingDays:
          type: integer
          description: 'Rate fixing days'
        FaceAmount:
          type: number
          format: float
          description: 'Bond face amount'
        Schedule:
          allOf:
            - $ref: '#/components/schemas/Schedule'
          description: 'Bond payment schedule parametrization'
        CouponRate:
          type: number
          format: float
          description: 'Bond coupon rate'
        DayCounter:
          allOf:
            - $ref: '#/components/schemas/DayCounter'
          description: 'Day counter base used to discount'
        BusinessDayConvention:
          allOf:
            - $ref: '#/components/schemas/Convention'
          description: 'Business day convention used for deposit schedule'
        Redemption:
          type: number
          format: float
          description: 'Bond redemption price'
        IssueDate:
          type: string
          format: date
          description: 'Bond issue date'
    OIS:
      type: object
      description: 'OIS curve point'
      properties:
        Rate:
          type: number
          format: float
          description: 'OIS price'
        TenorTimeUnit:
          allOf:
            - $ref: '#/components/schemas/TimeUnit'
          description: 'Time unit to be used along with TenorNumber to calculate deposit tenor (tenor = TimeUnit * TenorNumber)'
        TenorNumber:
          type: integer
          description: 'Tenor number to be used along with TimeUnit to calculate deposit tenor (tenor = TimeUnit * TenorNumber)'
        FixingDays:
          type: integer
          description: 'Rate fixing days'
        OvernightIndex:
          allOf:
            - $ref: '#/components/schemas/OvernightIndex'
          description: 'Overnight index'
      example:
        type: OIS
        Rate: 0.075
        TenorTimeUnit: Months
        TenorNumber: 1
        FixingDays: 2
        OvernightIndex: Eonia
    DatedOIS:
      type: object
      description: 'Dated OIS curve point'
      properties:
        Rate:
          type: number
          format: float
          description: 'OIS price'
        StartDate:
          type: string
          format: date
          description: 'Future start date'
        EndDate:
          type: string
          format: date
          description: 'Future end date'
        OvernightIndex:
          allOf:
            - $ref: '#/components/schemas/OvernightIndex'
          description: 'Overnight index'
    TermStructure:
      type: object
      description: 'Curve parametrization'
      properties:
        DayCounter:
          allOf:
            - $ref: '#/components/schemas/DayCounter'
          description: 'Day counter base'
        Interpolator:
          allOf:
            - $ref: '#/components/schemas/Interpolator'
          description: 'Interpolation used to generate the curve'
        BootstrapTrait: 
          allOf:
            - $ref: '#/components/schemas/BootstrapTrait'
          description: 'Trait to bootstrap the curve'
      example:
        DayCounter: 'Actual365Fixed'
        Interpolator: 'LogCubic'
        BootstrapTrait: 'Discount'
    Curve:
      type: object
      description: 'Curve to be used for pricing purposes'
      properties:
        Id:
          type: string
          description: 'Id of the curve to set as discounting, fwd, ...'
          example: 'TermStructure'
        TermStructure:
          allOf:
            - $ref: '#/components/schemas/TermStructure'
          description: 'Term structure for the curve'
        Points:
          anyOf:
            - $ref: '#/components/schemas/Deposit'
            - $ref: '#/components/schemas/FRA'
            - $ref: '#/components/schemas/Future'
            - $ref: '#/components/schemas/Swap'
            - $ref: '#/components/schemas/Bond'
            - $ref: '#/components/schemas/OIS'
            - $ref: '#/components/schemas/DatedOIS'
          example:
          - type: Deposit
            Rate: 0.0382
            Calendar: TARGET
            FixingDays: 2
            TenorTimeUnit: Weeks
            TenorNumber: 1
            BusinessDayConvention: ModifiedFollowing
            DayCounter: Actual360
          - type: Fra
            Rate: 0.037125
            MonthsToStart: 3
            MonthsToEnd: 6
            FixingDays: 2
            Calendar: TARGET
            BusinessDayConvention: ModifiedFollowing
            DayCounter: Actual360
          - type: Future
            Rate: 0.037125
            FutureStartDate: 2017/05/05
            FutMonths: 6
            Calendar: TARGET
            BusinessDayConvention: ModifiedFollowing
            DayCounter: Actual360
          - type: Swap
            Rate: 0.037125
            TenorTimeUnit: Years
            TenorNumber: 2
            Calendar: TARGET
            SwFixedLegFrequency: Annual
            SwFixedLegConvention: Unadjusted
            SwFixedLegDayCounter: Thirty360
            SwFloatingLegIndex: Euribor6M
          - type: Bond
            Rate: 101.6875
            FixingDays: 2
            FaceAmount: 100
            Schedule:
              Calendar: UnitedStatesGovernmentBond
              EffectiveDate: 2010/02/17
              TerminationDate: 2017/05/17
              Period: Semiannual
              Convention: ModifiedFollowing
              TerminationDateConvention: ModifiedFollowing
              DateGenerationRule: Backward
              EndOfMonth: false
            CouponRate: 0.04
            DayCounter: Actual360
            BusinessDayConvention: ModifiedFollowing
            Redemption: 100
            IssueDate: 2017/05/05
          - type: OIS
            Rate: 0.074
            TenorTimeUnit: Months
            TenorNumber: 1
            FixingDays: 2
            OvernightIndex: Eonia
          - type: DatedOIS
            Rate: 0.00046
            StartDate: '2013-01-16'
            EndDate: '2013-02-13'
            OvernightIndex: Eonia
        Jumps:
          type: array
          items: 
            $ref: '#/components/schemas/DateRate'
    Pricing:
      type: object
      description: 'Pricing options'
      properties:
        AsOfDate:
          type: string
          format: date
      example:
        AsOfDate: '2019-04-30'
    BootstrapNodesRequest:
      type: object
      description: 'Endpoint to get the nodes which will be used to interpolate'
      properties:
        Pricing:
          $ref: '#/components/schemas/Pricing'
        Curves:
          type: array
          description: 'List of term structures with one element. This term structure needs to have the id set to NodesTermStructure'
          items: 
            $ref: '#/components/schemas/Curve'
    BootstrapNodesResponse:
      type: object
      properties:
        message:
          type: array
          items:
            $ref: '#/components/schemas/CurvePoint'
    DiscountCurveRequest:
      type: object
      description: 'Endpoint to get the nodes which will be used to interpolate'
      properties:
        Pricing:
          $ref: '#/components/schemas/Pricing'
        Curves:
          type: array
          description: 'List of term structures with one element. This term structure needs to have the id set to DiscountTermStructure'
          items: 
            $ref: '#/components/schemas/Curve'
    DiscountCurveResponse:
      type: object
      properties:
        message:
          type: array
          items:
            $ref: '#/components/schemas/CurvePoint'
    FixedPastInterest:
      type: object
      properties:
        Type:
          type: string
        AccrualStartDate:
          type: string
          format: date
        AccrualEndDate:
          type: string
          format: date
        Amount:
          type: number
          format: float
        Rate:
          type: number
          format: float
    FixedInterest:
      type: object
      properties:
        Type:
          type: string
        AccrualStartDate:
          type: string
          format: date
        AccrualEndDate:
          type: string
          format: date
        Amount:
          type: number
          format: float
        Rate:
          type: number
          format: float
        Discount:
          type: number
          format: float
        Price:
          type: number
          format: float
    FloatingPastInterest:
      type: object
      properties:
        Type:
          type: string
        AccrualStartDate:
          type: string
          format: date
        AccrualEndDate:
          type: string
          format: date
        Amount:
          type: number
          format: float
        Rate:
          type: number
          format: float
        FixingDate:
          type: string
          format: date
    FloatingInterest:
      type: object
      properties:
        Type:
          type: string
        AccrualStartDate:
          type: string
          format: date
        AccrualEndDate:
          type: string
          format: date
        Amount:
          type: number
          format: float
        Rate:
          type: number
          format: float
        Discount:
          type: number
          format: float
        Price:
          type: number
          format: float
        FixingDate:
          type: string
          format: date
    Notional:
      type: object
      properties:
        Type:
          type: string
        Date:
          type: string
          format: date
        Amount:
          type: number
          format: float
        Discount:
          type: number
          format: float
        Price:
          type: number
          format: float
    Flow:
      type: object
      properties:
        Date:
          type: string
          format: date
        Amount:
          type: number
          format: float
        Discount:
          type: number
          format: float
        Price:
          type: number
          format: float
    FixedFlow:
      type: object
      properties:
        Date:
          type: string
          format: date
        Amount:
          type: number
          format: float
        Discount:
          type: number
          format: float
        Price:
          type: number
          format: float
        AccrualStartDate:
          type: string
          format: date
        AccrualEndDate:
          type: string
          format: date
    FloatingFlow:
      type: object
      properties:
        Date:
          type: string
          format: date
        Amount:
          type: number
          format: float
        Fixing:
          type: number
          format: float
        Discount:
          type: number
          format: float
        Price:
          type: number
          format: float
        AccrualStartDate:
          type: string
          format: date
        AccrualEndDate:
          type: string
          format: date
    PriceFixedRateBondRequest:
      type: object
      description: 'Endpoint to get the nodes which will be used to interpolate'
      properties:
        Pricing:
          $ref: '#/components/schemas/Pricing'
        FixedRateBond:
          $ref: '#/components/schemas/FixedRateBond'
        Curves:
          type: array
          description: 'List of term structures with one element. This term structure needs to have the id set to DiscountingTermStructure'
          items: 
            $ref: '#/components/schemas/Curve'
    PriceFixedRateBondResponse:
      type: object
      properties:
        message:
          type: object
          properties:
            AccruedDays:
              type: number
              format: float
            Yield:
              type: number
              format: float
            DirtyPrice:
              type: number
              format: float
            CleanPrice:
              type: number
              format: float
            MacaulayDuration:
              type: number
              format: float
            NPV:
              type: number
              format: float
            BPS:
              type: number
              format: float
            Convexity:
              type: number
              format: float
            ModifiedDuration:
              type: number
              format: float
            AccruedAmount:
              type: number
              format: float
            Flows:
              type: array
              items:
                anyOf:
                  - $ref: '#/components/schemas/FixedPastInterest'
                  - $ref: '#/components/schemas/FixedInterest'
                  - $ref: '#/components/schemas/Notional'
                discriminator:
                  propertyName: Type
          example:
            AccruedDays: 364
            Yield: 0.0358443
            DirtyPrice: 105.992
            CleanPrice: 101.505
            MacaulayDuration: 1.91131
            NPV: 10597
            BPS: 0.0289484
            Convexity: 3.85374
            ModifiedDuration: 1.9113
            AccruedAmount: 4.48767
            Flows:
            - AccrualStartDate: '2007-05-15'
              AccrualEndDate: '2008-05-15'
              Amount: 450
              Rate: 0.045
              Type: PastInterest
            - Rate: 0.045
              Amount: 450
              Discount: 0.92943
              Type: Interest
              AccrualStartDate: '2016-05-16'
              Price: 418.244
              AccrualEndDate: '2017-05-15'
            - Amount: 10000
              Discount: 0.92943
              Date: '2017-05-15'
              Price: 9294.3
              Type: Notional
        response:
          $ref: '#/components/schemas/OkStatusCode'
    PriceFloatingRateBondRequest:
      type: object
      description: 'Endpoint to price a floating rate bond'
      properties:
        Pricing:
          $ref: '#/components/schemas/Pricing'
        FloatingRateBond:
          $ref: '#/components/schemas/FloatingRateBond'
        Curves:
          type: array
          description: 'List of term structures with two element. The discounting term structure has to have the id set to DiscountingTermStructure and the forward term structure to ForecastingTermStructure'
          items: 
            $ref: '#/components/schemas/Curve'
    PriceFloatingRateBondResponse:
      type: object
      properties:
        message:
          type: object
          properties:
            AccruedDays:
              type: number
              format: float
            Yield:
              type: number
              format: float
            DirtyPrice:
              type: number
              format: float
            CleanPrice:
              type: number
              format: float
            MacaulayDuration:
              type: number
              format: float
            NPV:
              type: number
              format: float
            BPS:
              type: number
              format: float
            Convexity:
              type: number
              format: float
            ModifiedDuration:
              type: number
              format: float
            AccruedAmount:
              type: number
              format: float
            Flows:
              type: array
              items:
                anyOf:
                  - $ref: '#/components/schemas/FloatingPastInterest'
                  - $ref: '#/components/schemas/FloatingInterest'
                  - $ref: '#/components/schemas/Notional'
                discriminator:
                  propertyName: Type
    PriceZeroCouponBondRequest:
      type: object
      properties:
        Pricing:
          $ref: '#/components/schemas/Pricing'
        ZeroCouponBond:
          $ref: '#/components/schemas/ZeroCouponBond'
        Curves:
          type: array
          description: 'List of term structures with one element. This term structure needs to have the id set to DiscountingTermStructure'
          items: 
            $ref: '#/components/schemas/Curve'
    PriceZeroCouponBondResponse:
      type: object
      properties:
        message:
          type: object
          properties:
            Yield:
              type: number
              format: float
            DirtyPrice:
              type: number
              format: float
            CleanPrice:
              type: number
              format: float
            NPV:
              type: number
              format: float
            Flows:
              type: array
              items:
                type: object
                $ref: '#/components/schemas/Flow'
          example:
            AccruedDays: 364
            Yield: 0.0358443
            DirtyPrice: 105.992
            CleanPrice: 101.505
            MacaulayDuration: 1.91131
            NPV: 10597
            BPS: 0.0289484
            Convexity: 3.85374
            ModifiedDuration: 1.9113
            AccruedAmount: 4.48767
            Flows:
            - AccrualStartDate: '2007-05-15'
              AccrualEndDate: '2008-05-15'
              Amount: 450
              Rate: 0.045
              Type: PastInterest
            - Rate: 0.045
              Amount: 450
              Discount: 0.92943
              Type: Interest
              AccrualStartDate: '2016-05-16'
              Price: 418.244
              AccrualEndDate: '2017-05-15'
            - Amount: 10000
              Discount: 0.92943
              Date: '2017-05-15'
              Price: 9294.3
              Type: Notional
        response:
          $ref: '#/components/schemas/OkStatusCode'
    VanillaSwapRequest:
      type: object
      properties:
        Pricing:
          $ref: '#/components/schemas/Pricing'
        VanillaInterestRateSwap:
          $ref: '#/components/schemas/VanillaInterestRateSwap'
        Curves:
          type: array
          description: 'List of term structures with at least one element. The ids will be used in the VanillaInterestRateSwap for discount and forecast'
          items: 
            $ref: '#/components/schemas/Curve'
    VanillaSwapResponse:
      type: object
      properties:
        response:
          $ref: '#/components/schemas/OkStatusCode'
        message:
            type: object
            properties:
              FairRate:
                type: number
                format: float
              FairSpread:
                type: number
                format: float
              NPV:
                type: number
                format: float
              FixedFlows:
                type: array
                items:
                  type: object
                  $ref: '#/components/schemas/FixedFlow'
              FloatingFlows:
                type: array
                items:
                  type: object
                  $ref: '#/components/schemas/FloatingFlow'
      example:
        message: 
         floatingFlows: 
          - 
           price: 1965160
           fixing: 0.0349768
           discount: 0.965693
           accrualStartDate: "2010-02-10"
           amount: 2034980
           accrualEndDate: "2011-02-10"
           date: "2011-02-10"
          - 
           price: 1894810
           fixing: 0.0393704
           discount: 0.929114
           accrualStartDate: "2011-02-10"
           amount: 2039370
           accrualEndDate: "2012-02-10"
           date: "2012-02-10"
         fixedFlows: 
          - 
           price: 218812
           discount: 0.993344
           accrualStartDate: "2010-02-10"
           amount: 220278
           accrualEndDate: "2010-04-12"
           date: "2010-04-12"
          - 
           price: 210437
           discount: 0.987711
           accrualStartDate: "2010-04-12"
           amount: 213056
           accrualEndDate: "2010-06-10"
           date: "2010-06-10"
          - 
           price: 216325
           discount: 0.982055
           accrualStartDate: "2010-06-10"
           amount: 220278
           accrualEndDate: "2010-08-10"
           date: "2010-08-10"
          - 
           price: 222129
           discount: 0.976392
           accrualStartDate: "2010-08-10"
           amount: 227500
           accrualEndDate: "2010-10-12"
           date: "2010-10-12"
          - 
           price: 206909
           discount: 0.971152
           accrualStartDate: "2010-10-12"
           amount: 213056
           accrualEndDate: "2010-12-10"
           date: "2010-12-10"
          - 
           price: 216208
           discount: 0.965693
           accrualStartDate: "2010-12-10"
           amount: 223889
           accrualEndDate: "2011-02-10"
           date: "2011-02-10"
          - 
           price: 207931
           discount: 0.959682
           accrualStartDate: "2011-02-10"
           amount: 216667
           accrualEndDate: "2011-04-11"
           date: "2011-04-11"
          - 
           price: 206629
           discount: 0.95367
           accrualStartDate: "2011-04-11"
           amount: 216667
           accrualEndDate: "2011-06-10"
           date: "2011-06-10"
          - 
           price: 208726
           discount: 0.947559
           accrualStartDate: "2011-06-10"
           amount: 220278
           accrualEndDate: "2011-08-10"
           date: "2011-08-10"
          - 
           price: 210757
           discount: 0.941347
           accrualStartDate: "2011-08-10"
           amount: 223889
           accrualEndDate: "2011-10-11"
           date: "2011-10-11"
          - 
           price: 209366
           discount: 0.935135
           accrualStartDate: "2011-10-11"
           amount: 223889
           accrualEndDate: "2011-12-12"
           date: "2011-12-12"
          - 
           price: 201308
           discount: 0.929114
           accrualStartDate: "2011-12-12"
           amount: 216667
           accrualEndDate: "2012-02-10"
           date: "2012-02-10"
         FairRate: 1.97905
         FairSpread: 1.30102
         NPV: 1324430
        response: ok  
    FwdCurveRequest:
      type: object
      description: 'Endpoint to generate fwd rate curve points. If a tenor is provided to the FwdCurve it will return the entire curve, if a start and end dates are provided it will return the forward rate of that period'
      properties:
        Pricing:
          $ref: '#/components/schemas/Pricing'
        Curves:
          type: array
          description: 'List of term structures with one element. This term structure needs to have the id set to FwdTermStructure'
          items: 
            $ref: '#/components/schemas/Curve'
        FwdCurve:
          oneOf:
          - $ref: '#/components/schemas/FwdCurvePeriod'
          - $ref: '#/components/schemas/FwdCurveDates'
    FwdCurveResponse:
      type: object
      properties:
        message:
          type: array
          items:
            $ref: '#/components/schemas/CurvePoint'
    ZeroCurveRequest:
      type: object
      description: 'Endpoint to get the nodes which will be used to interpolate'
      properties:
        Pricing:
          $ref: '#/components/schemas/Pricing'
        Curves:
          type: array
          description: 'List of term structures with one element. This term structure needs to have the id set to DiscountTermStructure'
          items: 
            $ref: '#/components/schemas/Curve'
    ZeroCurveResponse:
      type: object
      properties:
        message:
          type: array
          items:
            $ref: '#/components/schemas/CurvePoint'
    GetCalendarResponse:
      type: object
      properties:
        message:
          type: object
          properties:
            response:
              $ref: '#/components/schemas/OkStatusCode'
            Calendar:
              type: array
              items:
                $ref: '#/components/schemas/Calendar'
    GetFrequencysResponse:
      type: object
      properties:
        message:
          type: object
          properties:
            response:
              $ref: '#/components/schemas/OkStatusCode'
            Frequency:
              type: array
              items:
                $ref: '#/components/schemas/Frequency'
    GetTimeUnitsResponse:
      type: object
      properties:
        message:
          type: object
          properties:
            response:
              $ref: '#/components/schemas/OkStatusCode'
            TimeUnit:
              type: array
              items:
                $ref: '#/components/schemas/TimeUnit'
    GetBusinessDayConventionsResponse:
      type: object
      properties:
        message:
          type: object
          properties:
            response:
              $ref: '#/components/schemas/OkStatusCode'
            BusinessDayConvention:
              type: array
              items:
                $ref: '#/components/schemas/Convention'
    GetDayCountersResponse:
      type: object
      properties:
        message:
          type: object
          properties:
            response:
              $ref: '#/components/schemas/OkStatusCode'
            DayCounter:
              type: array
              items:
                $ref: '#/components/schemas/DayCounter'
    GetPointTypesResponse:
      type: object
      properties:
        message:
          type: object
          properties:
            response:
              $ref: '#/components/schemas/OkStatusCode'
            PointType:
              type: array
              items:
                $ref: '#/components/schemas/PointTypes'
    GetBootstrapTraitsResponse:
      type: object
      properties:
        message:
          type: object
          properties:
            response:
              $ref: '#/components/schemas/OkStatusCode'
            BootstrapTrait:
              type: array
              items:
                $ref: '#/components/schemas/BootstrapTrait'
    GetIborsResponse:
      type: object
      properties:
        message:
          type: object
          properties:
            response:
              $ref: '#/components/schemas/OkStatusCode'
            Ibor:
              type: array
              items:
                $ref: '#/components/schemas/Ibor'
    GetOvernightIndexResponse:
      type: object
      properties:
        message:
          type: object
          properties:
            response:
              $ref: '#/components/schemas/OkStatusCode'
            OvernightIndex:
              type: array
              items:
                $ref: '#/components/schemas/OvernightIndex'
    GetCompoundingsResponse:
      type: object
      properties:
        message:
          type: object
          properties:
            response:
              $ref: '#/components/schemas/OkStatusCode'
            Compounding:
              type: array
              items:
                $ref: '#/components/schemas/Compounding'
    GetInterpolatorsResponse:
      type: object
      properties:
        message:
          type: object
          properties:
            response:
              $ref: '#/components/schemas/OkStatusCode'
            Interpolator:
              type: array
              items:
                $ref: '#/components/schemas/Interpolator'
    GetSwapTypesResponse:
      type: object
      properties:
        message:
          type: object
          properties:
            response:
              $ref: '#/components/schemas/OkStatusCode'
            SwapType:
              type: array
              items:
                $ref: '#/components/schemas/SwapTypes'
    GetDateGenerationRulesResponse:
      type: object
      properties:
        message:
          type: object
          properties:
            response:
              $ref: '#/components/schemas/OkStatusCode'
            DateGenerationRule:
              type: array
              items:
                $ref: '#/components/schemas/DateGenerationRule'
    GetWeekDaysResponse:
      type: object
      properties:
        message:
          type: object
          properties:
            response:
              $ref: '#/components/schemas/OkStatusCode'
            WeekDay:
              type: array
              items:
                $ref: '#/components/schemas/WeekDay'
    GetMonthsResponse:
      type: object
      properties:
        message:
          type: object
          properties:
            response:
              $ref: '#/components/schemas/OkStatusCode'
            Month:
              type: array
              items:
                $ref: '#/components/schemas/Month'
    IsLeapYearRequest:
      type: object
      properties:
        Year:
          type: integer
          example: 1983
    IsLeapYearReponse:
      type: object
      properties:
        response:
          $ref: '#/components/schemas/OkStatusCode'
        message:
          type: object
          properties:
            IsLeap:
              type: boolean
    EndOfMonthRequest:
      type: object
      properties:
        Date:
          type: string
          format: date
          example: '2017/05/25'
    EndOfMonthResponse:
      type: object
      properties:
        response:
          $ref: '#/components/schemas/OkStatusCode'
        message:
          type: object
          properties:
            EndOfMonth:
              type: string
              format: date
              example: '2017-05-31'
    NextWeekDayRequest:
      type: object
      properties:
        Date:
          type: string
          format: date
          example: '2017/05/25'
        Weekday:
          $ref: '#/components/schemas/WeekDay'
    NextWeekDayResponse:
      type: object
      properties:
        response:
          $ref: '#/components/schemas/OkStatusCode'
        message:
          type: object
          properties:
            NextWeekDay:
              type: string
              format: date
              example: '2017-05-31'
    NthWeekDayRequest:
      type: object
      properties:
        Nth:
          type: integer
          example: 3
        Weekday:
          $ref: '#/components/schemas/WeekDay'
        Month:
          $ref: '#/components/schemas/Month'
        Year:
          type: integer
          example: 2017
    NthWeekDayResponse:
      type: object
      properties:
        response:
          $ref: '#/components/schemas/OkStatusCode'
        message:
          type: object
          properties:
            NthWeekDay:
              type: string
              format: date
              example: '2017-05-31'
    IsBusinessDayRequest:
      type: object
      properties:
        Date:
          type: string
          format: date
          example: '2017/07/22'
        Calendar:
          $ref: '#/components/schemas/Calendar'
    IsBusinessDayResponse:
      type: object
      properties:
        response:
          $ref: '#/components/schemas/OkStatusCode'
        message:
          type: object
          properties:
            IsBusinessDay:
              type: boolean
    IsHolidayRequest:
      type: object
      properties:
        Date:
          type: string
          format: date
          example: '2017/07/22'
        Calendar:
          $ref: '#/components/schemas/Calendar'
    IsHolidayResponse:
      type: object
      properties:
        response:
          $ref: '#/components/schemas/OkStatusCode'
        message:
          type: object
          properties:
            IsHoliday:
              type: boolean
    HolidayListRequest:
      type: object
      properties:
        From:
          type: string
          format: date
          example: '2017/06/19'
        To:
          type: string
          format: date
          example: '2017/07/19'
        Calendar:
          $ref: '#/components/schemas/Calendar'
        IncludeWeekends:
              type: boolean
    HolidayListResponse:
      type: object
      properties:
        response:
          $ref: '#/components/schemas/OkStatusCode'
        message:
          type: object
          properties:
            HolidayList:
              type: array
              items:
                type: string
                format: date
    AdjustDateRequest:
      type: object
      properties:
        Date:
          type: string
          format: date
          example: '2017/06/19'
        Calendar:
          $ref: '#/components/schemas/Calendar'
        Convention:
          $ref: '#/components/schemas/Convention'
    AdjustDateResponse:
      type: object
      properties:
        response:
          $ref: '#/components/schemas/OkStatusCode'
        message:
          type: object
          properties:
            AdjustedDate:
              type: string
              format: date
    AdvanceDateRequest:
      type: object
      properties:
        Date:
          type: string
          format: date
          example: '2017/06/19'
        Calendar:
          $ref: '#/components/schemas/Calendar'
        Convention:
          $ref: '#/components/schemas/Convention'
        Number:
          type: integer
          example: 3
        TimeUnit:
          $ref: '#/components/schemas/TimeUnit'
        EndOfMonth:
          type: boolean
    AdvanceDateResponse:
      type: object
      properties:
        response:
          $ref: '#/components/schemas/OkStatusCode'
        message:
          type: object
          properties:
            AdvancedDate:
              type: string
              format: date
    BusinessDaysBetweenRequest:
      type: object
      properties:
        From:
          type: string
          format: date
          example: '2017/06/19'
        To:
          type: string
          format: date
          example: '2017/07/19'
        Calendar:
          $ref: '#/components/schemas/Calendar'
        IncludeFirst:
          type: boolean
        IncludeLast:
          type: boolean
    BusinessDaysBetweenResponse:
      type: object
      properties:
        response:
          $ref: '#/components/schemas/OkStatusCode'
        message:
          type: object
          properties:
            BusinessDaysBetween:
              type: integer
    IsIMMDateRequest:
      type: object
      properties:
        Date:
          type: string
          format: date
          example: '2017/06/19'
    IsIMMDateResponse:
      type: object
      properties:
        response:
          $ref: '#/components/schemas/OkStatusCode'
        message:
          type: object
          properties:
            IsIMMDate:
              type: boolean
    NextIMMDateRequest:
      type: object
      properties:
        Date:
          type: string
          format: date
          example: '2017/06/19'
    NextIMMDateResponse:
      type: object
      properties:
        response:
          $ref: '#/components/schemas/OkStatusCode'
        message:
          type: object
          properties:
            NextIMMDate:
              type: string
              format: date
    YearFractionRequest:
      type: object
      properties:
        StartDate:
          type: string
          format: date
          example: '2017/06/19'
        EndDate:
          type: string
          format: date
          example: '2017/06/19'
        DayCounter:
          $ref: '#/components/schemas/DayCounter'
    ScheduleDatesRequest:
      type: object
      properties:
        Schedule:
          $ref: '#/components/schemas/Schedule'
    ScheduleDatesResponse:
      type: object
      properties:
        response:
          $ref: '#/components/schemas/OkStatusCode'
        message:
          type: object
          properties:
            Dates:
              type: array
              items:
                type: string
                format: date
    YearFractionResponse:
      type: object
      properties:
        response:
          $ref: '#/components/schemas/OkStatusCode'
        message:
          type: object
          properties:
            YearFraction:
              type: number
    CurvePoint:
      type: object
      properties:
        Rate: 
          type: number
        Date:
          type: string
          format: date
        Point:
          type: integer
          description: 'Ordinal of point'
    FwdCurvePeriod:
      type: object
      properties:
        PeriodNumber: 
          type: integer
        PeriodTimeUnit:
          $ref: '#/components/schemas/TimeUnit'
        Calendar:
          $ref: '#/components/schemas/Calendar'
        DayCounter:
          $ref: '#/components/schemas/DayCounter'
        Compounding:
          $ref: '#/components/schemas/Compounding'
    FwdCurveDates:
      type: object
      properties:
        StartDate: 
          type: string
          format: date
        EndDate: 
          type: string
          format: date
        Calendar:
          $ref: '#/components/schemas/Calendar'
        DayCounter:
          $ref: '#/components/schemas/DayCounter'
        Compounding:
          $ref: '#/components/schemas/Compounding'
    VolTermStructure:
      type: object
      properties:
        VolatilityType: 
          $ref: '#/components/schemas/VolType'
        Calendar: 
          $ref: '#/components/schemas/Calendar'
        DayCounter:
          $ref: '#/components/schemas/DayCounter'
        Expirations:
          type: array
          items:
            type: string
            format: date
          description: 'List of expiration dates'
        Strikes:
          type: array
          items:
            type: number
            format: float
          description: 'List of strikes'
        VolMatrix:
          type: array
          items:
            type: array
            items:
              type: number
              format: float
        Interpolator:
          $ref: '#/components/schemas/Interpolator'
    VolatilitySurface:
      type: object
      description: 'Volatility surface params'
      properties:
        InitDate:
          type: string
          format: date
        EndDate:
          type: string
          format: date
        InitStrike:
          type: number
          format: float
        EndStrike:
          type: number
          format: float
        ExpirationStep:
          type: integer
        StrikeStep:
          type: number
          format: float
    VolSurfacePoint:
      type: object
      properties:
        Volatility:
          type: number
          format: float
        Strike:
          type: number
          format: float
        Expiration:
          type: string
          format: date
    VolatilitySurfaceRequest:
      type: object
      description: 'Endpoint to get a volatility surface'
      properties:
        Pricing:
          $ref: '#/components/schemas/Pricing'
        VolTermStructure:
          $ref: '#/components/schemas/VolTermStructure'
        VolatilitySurface:
          $ref: '#/components/schemas/VolatilitySurface'
      example:
       VolatilitySurface:
         ExpirationStep: 10
         StrikeStep: 244.44
         InitStrike: 2596.24
         EndStrike: 7788.73
         InitDate: 2015/05/21
         EndDate: 2017/04/21
       Pricing:
         AsOfDate: 2015/04/21
       VolTermStructure:
         VolatilityType: BlackVarianceSurface
         Calendar: TARGET
         Interpolator: BiLinear
         DayCounter: ActualActual
         Expirations:
           - 2015/05/21
           - 2015/06/22
           - 2015/07/21
           - 2015/08/21
           - 2015/09/21
           - 2015/10/21
           - 2015/11/23
           - 2015/12/21
           - 2016/01/21
           - 2016/02/22
           - 2016/03/21
           - 2016/04/21
           - 2016/05/23
           - 2016/06/21
           - 2016/07/21
           - 2016/08/22
           - 2016/09/21
           - 2016/10/21
           - 2016/11/21
           - 2016/12/21
           - 2017/01/23
           - 2017/02/21
           - 2017/03/21
           - 2017/04/21
         Strikes:
           - 2596.24
           - 2920.78
           - 3245.31
           - 3569.84
           - 3894.37
           - 4218.9
           - 4543.43
           - 4867.96
           - 5187
           - 5517.02
           - 5841.55
           - 6166.08
           - 6490.61
           - 6815.14
           - 7139.67
           - 7464.2
           - 7788.73
         VolMatrix:
           - - 55.516
             - 51.694
             - 43.613
             - 40.655
             - 38.745
             - 37.115
             - 35.794
             - 34.905
             - 33.931
             - 33.11
             - 32.562
             - 32.506
             - 32.457
             - 32.324
             - 31.626
             - 30.961
             - 30.431
             - 30.095
             - 29.78
             - 29.457
             - 28.888
             - 28.427
             - 28.028
             - 27.724
           - - 51.07
             - 47.459
             - 40.417
             - 37.782
             - 36.086
             - 34.654
             - 33.497
             - 32.72
             - 31.871
             - 31.158
             - 30.683
             - 30.641
             - 30.604
             - 30.495
             - 29.907
             - 29.35
             - 28.906
             - 28.625
             - 28.363
             - 28.093
             - 27.611
             - 27.22
             - 26.886
             - 26.646
           - - 46.741
             - 43.332
             - 37.332
             - 35.014
             - 33.529
             - 32.295
             - 31.3
             - 30.633
             - 29.909
             - 29.302
             - 28.899
             - 28.87
             - 28.845
             - 28.76
             - 28.282
             - 27.829
             - 27.47
             - 27.244
             - 27.033
             - 26.814
             - 26.416
             - 26.094
             - 25.822
             - 25.645
           - - 42.453
             - 39.244
             - 34.31
             - 32.309
             - 31.035
             - 30.001
             - 29.17
             - 28.615
             - 28.016
             - 27.515
             - 27.184
             - 27.17
             - 27.157
             - 27.095
             - 26.727
             - 26.379
             - 26.104
             - 25.931
             - 25.77
             - 25.602
             - 25.287
             - 25.033
             - 24.821
             - 24.706
           - - 38.132
             - 35.131
             - 31.307
             - 29.629
             - 28.569
             - 27.741
             - 27.079
             - 26.64
             - 26.169
             - 25.776
             - 25.519
             - 25.518
             - 25.518
             - 25.481
             - 25.224
             - 24.982
             - 24.792
             - 24.672
             - 24.562
             - 24.443
             - 24.211
             - 24.024
             - 23.873
             - 23.817
           - - 33.695
             - 30.93
             - 28.282
             - 26.935
             - 26.095
             - 25.487
             - 25.003
             - 24.683
             - 24.346
             - 24.066
             - 23.884
             - 23.899
             - 23.911
             - 23.899
             - 23.758
             - 23.625
             - 23.521
             - 23.456
             - 23.395
             - 23.326
             - 23.178
             - 23.059
             - 22.968
             - 22.97
           - - 29.046
             - 26.6
             - 25.194
             - 24.188
             - 23.574
             - 23.205
             - 22.913
             - 22.722
             - 22.527
             - 22.366
             - 22.264
             - 22.294
             - 22.321
             - 22.336
             - 22.316
             - 22.297
             - 22.282
             - 22.271
             - 22.261
             - 22.243
             - 22.18
             - 22.13
             - 22.1
             - 22.161
           - - 24.087
             - 22.228
             - 22.008
             - 21.343
             - 20.957
             - 20.857
             - 20.779
             - 20.73
             - 20.69
             - 20.658
             - 20.642
             - 20.69
             - 20.731
             - 20.774
             - 20.885
             - 20.988
             - 21.067
             - 21.11
             - 21.151
             - 21.185
             - 21.211
             - 21.232
             - 21.265
             - 21.383
           - - 18.893
             - 18.429
             - 18.756
             - 18.363
             - 18.17
             - 18.392
             - 18.562
             - 18.675
             - 18.811
             - 18.922
             - 19.001
             - 19.067
             - 19.124
             - 19.2
             - 19.455
             - 19.69
             - 19.869
             - 19.968
             - 20.059
             - 20.145
             - 20.266
             - 20.362
             - 20.459
             - 20.634
           - - 15.98
             - 16.308
             - 15.965
             - 15.952
             - 15.973
             - 16.2
             - 16.375
             - 16.513
             - 16.857
             - 17.134
             - 17.32
             - 17.407
             - 17.482
             - 17.594
             - 18.016
             - 18.401
             - 18.691
             - 18.842
             - 18.98
             - 19.118
             - 19.341
             - 19.517
             - 19.682
             - 19.914
           - - 15.937
             - 15.843
             - 15.396
             - 15.894
             - 16.133
             - 15.901
             - 15.719
             - 15.649
             - 15.968
             - 16.226
             - 16.368
             - 16.156
             - 15.969
             - 15.936
             - 16.575
             - 17.149
             - 17.569
             - 17.753
             - 17.92
             - 18.097
             - 18.436
             - 18.702
             - 18.942
             - 19.227
           - - 16.263
             - 16.261
             - 16.851
             - 16.536
             - 16.371
             - 16.451
             - 16.512
             - 16.644
             - 17.497
             - 18.167
             - 18.536
             - 18.04
             - 17.598
             - 17.27
             - 17.112
             - 16.963
             - 16.868
             - 16.919
             - 16.966
             - 17.078
             - 17.557
             - 17.93
             - 18.256
             - 18.59
           - - 16.671
             - 16.96
             - 18.741
             - 17.357
             - 16.594
             - 16.955
             - 17.231
             - 17.538
             - 18.842
             - 19.848
             - 20.416
             - 19.871
             - 19.385
             - 18.961
             - 18.338
             - 17.739
             - 17.277
             - 17.087
             - 16.91
             - 16.834
             - 17.173
             - 17.438
             - 17.689
             - 18.054
           - - 17.094
             - 17.718
             - 20.55
             - 18.172
             - 16.804
             - 17.421
             - 17.888
             - 18.347
             - 20.038
             - 21.326
             - 22.057
             - 21.468
             - 20.943
             - 20.454
             - 19.548
             - 18.665
             - 17.994
             - 17.809
             - 17.636
             - 17.5
             - 17.446
             - 17.403
             - 17.417
             - 17.766
           - - 17.51
             - 18.469
             - 22.2
             - 18.943
             - 17.001
             - 17.855
             - 18.493
             - 19.087
             - 21.116
             - 22.645
             - 23.515
             - 22.888
             - 22.328
             - 21.784
             - 20.652
             - 19.54
             - 18.693
             - 18.496
             - 18.313
             - 18.141
             - 17.913
             - 17.729
             - 17.622
             - 17.877
           - - 17.91
             - 19.19
             - 23.699
             - 19.664
             - 17.188
             - 18.259
             - 19.053
             - 19.768
             - 22.096
             - 23.837
             - 24.829
             - 24.167
             - 23.576
             - 22.984
             - 21.66
             - 20.349
             - 19.35
             - 19.138
             - 18.94
             - 18.751
             - 18.484
             - 18.269
             - 18.118
             - 18.236
           - - 18.293
             - 19.873
             - 25.064
             - 20.336
             - 17.364
             - 18.638
             - 19.574
             - 20.399
             - 22.996
             - 24.925
             - 26.025
             - 25.331
             - 24.712
             - 24.077
             - 22.584
             - 21.099
             - 19.963
             - 19.735
             - 19.523
             - 19.325
             - 19.065
             - 18.855
             - 18.696
             - 18.719
    VolatilitySurfaceResponse:
      type: object
      properties:
        response:
          $ref: '#/components/schemas/OkStatusCode'
        message:
          type: array
          items:
            $ref: '#/components/schemas/VolSurfacePoint'
    EuropeanOption:
      type: object
      properties:
        Calendar: 
          $ref: '#/components/schemas/Calendar'
        DayCounter:
          $ref: '#/components/schemas/DayCounter'
        DividendYieldTermStructure:
          $ref: '#/components/schemas/TermStructure'
        RiskFreeRateTermStructure:
          $ref: '#/components/schemas/TermStructure'
        Settlement:
          type: string
          format: date
        Strike:
          type: number
          format: float
        Type:
          $ref: '#/components/schemas/OptionType'
        Maturity:
          type: string
          format: date
        Underlying:
          type: number
          format: float
    EuropeanMultiOption:
      type: object
      properties:
        Calendar: 
          $ref: '#/components/schemas/Calendar'
        DayCounter:
          $ref: '#/components/schemas/DayCounter'
        DividendYieldTermStructure:
          $ref: '#/components/schemas/TermStructure'
        RiskFreeRateTermStructure:
          $ref: '#/components/schemas/TermStructure'
        Settlement:
          type: string
          format: date
        Strike:
          type: number
          format: float
        Type:
          $ref: '#/components/schemas/OptionType'
        Maturities:
          type: array
          items:
            type: string
            format: date
        Underlyings:
          type: array
          items:
            type: number
            format: float
      example:
        Type: Call
        Underlyings:
          - 4400
          - 4500
          - 4600
          - 4700
          - 4800
          - 4900
          - 5000
          - 5100
          - 5200
          - 5300
          - 5400
          - 5500
          - 5600
          - 5700
          - 5800
          - 5900
          - 6000
          - 6100
          - 6200
          - 6300
          - 6400
          - 6500
          - 6600
        Strike: 2596.24
        Calendar: TARGET
        Maturities:
          - '2015-05-21'
          - '2015-05-31'
          - '2015-06-10'
          - '2015-06-20'
          - '2015-06-30'
          - '2015-07-10'
          - '2015-07-20'
          - '2015-07-30'
          - '2015-08-09'
          - '2015-08-19'
          - '2015-08-29'
          - '2015-09-08'
          - '2015-09-18'
          - '2015-09-28'
          - '2015-10-08'
          - '2015-10-18'
          - '2015-10-28'
          - '2015-11-07'
          - '2015-11-17'
          - '2015-11-27'
          - '2015-12-07'
          - '2015-12-17'
          - '2015-12-27'
          - '2016-01-06'
          - '2016-01-16'
          - '2016-01-26'
          - '2016-02-05'
          - '2016-02-15'
          - '2016-02-25'
          - '2016-03-06'
          - '2016-03-16'
          - '2016-03-26'
          - '2016-04-05'
          - '2016-04-15'
          - '2016-04-25'
          - '2016-05-05'
          - '2016-05-15'
          - '2016-05-25'
          - '2016-06-04'
          - '2016-06-14'
          - '2016-06-24'
          - '2016-07-04'
          - '2016-07-14'
          - '2016-07-24'
          - '2016-08-03'
          - '2016-08-13'
          - '2016-08-23'
          - '2016-09-02'
          - '2016-09-12'
          - '2016-09-22'
          - '2016-10-02'
          - '2016-10-12'
          - '2016-10-22'
          - '2016-11-01'
          - '2016-11-11'
          - '2016-11-21'
          - '2016-12-01'
          - '2016-12-11'
          - '2016-12-21'
          - '2016-12-31'
          - '2017-01-10'
          - '2017-01-20'
          - '2017-01-30'
          - '2017-02-09'
          - '2017-02-19'
          - '2017-03-01'
          - '2017-03-11'
          - '2017-03-21'
          - '2017-03-31'
          - '2017-04-10'
          - '2017-04-20'
        Settlement: 2015/04/21
        DayCounter: ActualActual
        RiskFreeRateTermStructure: RiskFreeRateTermStructure
        DividendYieldTermStructure: DividendYieldTermStructure
    Option:
      type: object
      properties:
        EuropeanOption:
          $ref: '#/components/schemas/EuropeanOption'
        Style:
          $ref: '#/components/schemas/OptionStyle'
    MultiOption:
      type: object
      properties:
        EuropeanOption:
          $ref: '#/components/schemas/EuropeanMultiOption'
        Style:
          $ref: '#/components/schemas/OptionStyle'
    PricingOptionRequest:
      type: object
      properties:
        Option:
          $ref: '#/components/schemas/Option'
        Curves:
          type: array
          description: 'List of term structures with at least one element.'
          items: 
            $ref: '#/components/schemas/Curve'
        Pricing:
          $ref: '#/components/schemas/Pricing'
        VolTermStructure:
          $ref: '#/components/schemas/VolTermStructure'
      example: 
        Option:
          Style: European
          EuropeanOption:
            Type: Call
            Underlying: 36
            Strike: 40
            Calendar: TARGET
            Maturity: 1999/05/17
            Settlement: 1998/05/18
            DayCounter: ActualActual
            RiskFreeRateTermStructure: RiskFreeRateTermStructure
            DividendYieldTermStructure: DividendYieldTermStructure
        Curves:
          - Id: RiskFreeRateTermStructure
            FlatTermStructure:
              DayCounter: ActualActual
              Rate: 0.06
              Date: 1999/05/15
          - Id: DividendYieldTermStructure
            FlatTermStructure:
              DayCounter: ActualActual
              Rate: 0.06
              Date: 1999/05/15
        Pricing:
          AsOfDate: 1999/05/14
        VolTermStructure:
          Volatility: 0.2
          VolatilityType: BlackConstantVol
          Calendar: TARGET
          DayCounter: ActualActual
          Date: 1999/05/14
    PricingOptionResponse:
      type: object
      properties:
        response:
          $ref: '#/components/schemas/OkStatusCode'
        message:
          type: object
          properties:
            ThetaPerDay: 
              type: number
              format: float
            StrikeSensitivity: 
              type: number
              format: float
            Rho: 
              type: number
              format: float
            DividendRho: 
              type: number
              format: float
            Theta: 
              type: number
              format: float
            Gamma: 
              type: number
              format: float
            Vega: 
              type: number
              format: float
            Delta: 
              type: number
              format: float
            NPV: 
              type: number
              format: float
    PricingMultiOptionRequest:
      type: object
      properties:
        Option:
          $ref: '#/components/schemas/MultiOption'
        Curves:
          type: array
          description: 'List of term structures with at least one element.'
          items: 
            $ref: '#/components/schemas/Curve'
        Pricing:
          $ref: '#/components/schemas/Pricing'
        VolTermStructure:
          $ref: '#/components/schemas/VolTermStructure'
      example:
        Option:
          Style: European
          EuropeanOption:
            Type: Call
            Underlyings:
              - 4400
              - 4500
              - 4600
              - 4700
              - 4800
              - 4900
              - 5000
              - 5100
              - 5200
              - 5300
              - 5400
              - 5500
              - 5600
              - 5700
              - 5800
              - 5900
              - 6000
              - 6100
              - 6200
              - 6300
              - 6400
              - 6500
              - 6600
            Strike: 2596.24
            Calendar: TARGET
            Maturities:
              - '2015-05-21'
              - '2015-05-31'
              - '2015-06-10'
              - '2015-06-20'
              - '2015-06-30'
              - '2015-07-10'
              - '2015-07-20'
              - '2015-07-30'
              - '2015-08-09'
              - '2015-08-19'
              - '2015-08-29'
              - '2015-09-08'
              - '2015-09-18'
              - '2015-09-28'
              - '2015-10-08'
              - '2015-10-18'
              - '2015-10-28'
              - '2015-11-07'
              - '2015-11-17'
              - '2015-11-27'
              - '2015-12-07'
              - '2015-12-17'
              - '2015-12-27'
              - '2016-01-06'
              - '2016-01-16'
              - '2016-01-26'
              - '2016-02-05'
              - '2016-02-15'
              - '2016-02-25'
              - '2016-03-06'
              - '2016-03-16'
              - '2016-03-26'
              - '2016-04-05'
              - '2016-04-15'
              - '2016-04-25'
              - '2016-05-05'
              - '2016-05-15'
              - '2016-05-25'
              - '2016-06-04'
              - '2016-06-14'
              - '2016-06-24'
              - '2016-07-04'
              - '2016-07-14'
              - '2016-07-24'
              - '2016-08-03'
              - '2016-08-13'
              - '2016-08-23'
              - '2016-09-02'
              - '2016-09-12'
              - '2016-09-22'
              - '2016-10-02'
              - '2016-10-12'
              - '2016-10-22'
              - '2016-11-01'
              - '2016-11-11'
              - '2016-11-21'
              - '2016-12-01'
              - '2016-12-11'
              - '2016-12-21'
              - '2016-12-31'
              - '2017-01-10'
              - '2017-01-20'
              - '2017-01-30'
              - '2017-02-09'
              - '2017-02-19'
              - '2017-03-01'
              - '2017-03-11'
              - '2017-03-21'
              - '2017-03-31'
              - '2017-04-10'
              - '2017-04-20'
            Settlement: 2015/04/21
            DayCounter: ActualActual
            RiskFreeRateTermStructure: RiskFreeRateTermStructure
            DividendYieldTermStructure: DividendYieldTermStructure
        Curves:
          - Id: RiskFreeRateTermStructure
            FlatTermStructure:
              DayCounter: ActualActual
              Rate: 0.02
              Date: 2015/04/21
          - Id: DividendYieldTermStructure
            FlatTermStructure:
              DayCounter: ActualActual
              Rate: 0.01
              Date: 2015/04/21
        Pricing:
          AsOfDate: 2015/04/21
        VolTermStructure:
          VolatilityType: BlackVarianceSurface
          Calendar: TARGET
          Interpolator: BiLinear
          DayCounter: ActualActual
          Expirations:
            - 2015/05/21
            - 2015/06/22
            - 2015/07/21
            - 2015/08/21
            - 2015/09/21
            - 2015/10/21
            - 2015/11/23
            - 2015/12/21
            - 2016/01/21
            - 2016/02/22
            - 2016/03/21
            - 2016/04/21
            - 2016/05/23
            - 2016/06/21
            - 2016/07/21
            - 2016/08/22
            - 2016/09/21
            - 2016/10/21
            - 2016/11/21
            - 2016/12/21
            - 2017/01/23
            - 2017/02/21
            - 2017/03/21
            - 2017/04/21
          Strikes:
            - 2596.24
            - 2920.78
            - 3245.31
            - 3569.84
            - 3894.37
            - 4218.9
            - 4543.43
            - 4867.96
            - 5187
            - 5517.02
            - 5841.55
            - 6166.08
            - 6490.61
            - 6815.14
            - 7139.67
            - 7464.2
            - 7788.73
          VolMatrix:
            - - 55.516
              - 51.694
              - 43.613
              - 40.655
              - 38.745
              - 37.115
              - 35.794
              - 34.905
              - 33.931
              - 33.11
              - 32.562
              - 32.506
              - 32.457
              - 32.324
              - 31.626
              - 30.961
              - 30.431
              - 30.095
              - 29.78
              - 29.457
              - 28.888
              - 28.427
              - 28.028
              - 27.724
            - - 51.07
              - 47.459
              - 40.417
              - 37.782
              - 36.086
              - 34.654
              - 33.497
              - 32.72
              - 31.871
              - 31.158
              - 30.683
              - 30.641
              - 30.604
              - 30.495
              - 29.907
              - 29.35
              - 28.906
              - 28.625
              - 28.363
              - 28.093
              - 27.611
              - 27.22
              - 26.886
              - 26.646
            - - 46.741
              - 43.332
              - 37.332
              - 35.014
              - 33.529
              - 32.295
              - 31.3
              - 30.633
              - 29.909
              - 29.302
              - 28.899
              - 28.87
              - 28.845
              - 28.76
              - 28.282
              - 27.829
              - 27.47
              - 27.244
              - 27.033
              - 26.814
              - 26.416
              - 26.094
              - 25.822
              - 25.645
            - - 42.453
              - 39.244
              - 34.31
              - 32.309
              - 31.035
[...]
